/********** CUSTOM SELECT BOX START **********/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
.custom-select{
	margin:5px 0;
}
.custom-select-wrapper{
	float: left;
	display: inline-block;
	cursor: pointer;
	background: url('../images/down-arrow.png') no-repeat;
	background-position: right 7px;
	position: relative;
}
.custom-select-wrapper select{
	width:300px;
	height: 30px;
}
.custom-select-wrapper select{
	position: absolute;
	z-index:2;
	cursor: pointer;
	outline:none;
	opacity: 0;
	_noFocusLine: expression(this.hideFocus=true); 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
}
.custom-select-wrapper select{
	position: absolute;
	width: 1px;
	height: 1px;
}
.custom-select-wrapper:focus{
	outline: none;
}
.custom-select-wrapper .custom-select-holder{
    display: block;
    margin: 0 35px 0 5px;
    white-space: nowrap;            
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: -1;
}
ul.custom-select-option{
	display: none;
	position: absolute;
	z-index: 100;
	border: 1px solid #d4d4d4;
	border-top: 0;
	padding: 0;
	top: 30px;
}
ul.custom-select-option li.custom-select-list{
	background: white;
	width: 300px;
	padding: 10px;
}
ul.custom-select-option li.custom-select-list:hover, ul.custom-select-option li.focused{
	background: #5264AE;
	color: #fff;
}
/********** CUSTOM SELECT BOX END **********/