@import 'utilities/manifest';
@import 'base/manifest';
.demo-wrapper{
	padding: rem(30px);
}
.custom-select-wrapper{
	font-family: $font-family-sans;
	cursor: pointer;
	margin: 0 rem(5px) rem(5px) 0 ;
	width: 100%;
	display: block;
	border: 1px solid $default-color;
	position: relative;
	select{
		width: 1px;
		height: 1px;
		position: absolute;
		z-index:2;
		cursor: pointer;
		outline:none;
		opacity: 0;
		_noFocusLine: expression(this.hideFocus=true); 
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    filter: alpha(opacity=0);
	    -khtml-opacity: 0;
	    -moz-opacity: 0;
	    &:focus{
			outline: none;	
		}
	}
	&:focus{
		outline: none;	
	}
	&:hover{
		border: 1px solid $primary-color;
		transition: all 0.6s ease-in-out;
	}
	.custom-select-holder{
	    display: block;
	    margin: 0 rem(5px) 0 0;
	    white-space: nowrap;            
	    overflow: hidden;
	    cursor: pointer;
	    position: relative;
	    z-index: -1;
	    line-height: rem(30px);
	    @include bg('down-arrow.svg', $position: right center, $size: rem(20px) rem(20px));
	    padding: rem(10px);
	}
	.custom-select-option{
		width: 100%;
		display: none;
		position: absolute;
		left: 0;
		z-index: 100;
		padding: 0;
		border: 1px solid $default-color;
		border-top: none;
		.custom-select-list{
			background: $white;
			padding: 10px;
			&:hover,&.focused{
				background: $primary-color;
				color: $white;
			}
		}
	}
	@include mq(md){
		float: left;
		display: inline-block;
		width: 300px;
	}
}