@import 'utilities/manifest';
@import 'base/manifest';
.demo-wrapper{
	padding: rem(30px);
	&:after{
		clear:both;
		content:"";
		display:block;
	}
}
%image-option{
	background-size : $image-size-X $image-size-Y;
	background-position :$image-position-X $image-position-Y;
	background-repeat: no-repeat;
	padding-left : $image-size-X * 2;
	transition: none;
}
.custom-select-wrapper{
	font-family: $font-family-sans;
	cursor: pointer;
	margin: 0 rem(5px) rem(5px) 0 ;
	width: 100%;
	display: block;
	border: $border-width solid $border-color;
	position: relative;
	background-color: $select-bg;
	@include bg('down-arrow.svg', $position: 98% center, $size: $arrow-size $arrow-size); 
	select{
		width: 1px;
		height: 1px;
		position: absolute;
		z-index:2;
		cursor: pointer;
		outline:none;
		opacity: 0;
		_noFocusLine: expression(this.hideFocus=true); 
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    filter: alpha(opacity=0);
	    -khtml-opacity: 0;
	    -moz-opacity: 0;
	    &:focus{
			outline: none;	
		}
	}
	&:focus{
		outline: none;	
	}
	&:hover{
		border: $border-width solid $primary-color;
		transition: $hover-transition;
	}
	.custom-select-holder{
	    display: block;
	    margin: 0 rem(5px) 0 0;
	    text-overflow: ellipsis;
	    white-space: nowrap;            
	    overflow: hidden;
	    cursor: pointer;
	    position: relative;
	    line-height: $text-line-height;
	    padding: $select-padding;
	    padding-right: $arrow-size + rem(2px);
	    color: $select-text-color;
	    &.image-on-option{
	    	@extend %image-option;
		}
	}
	.custom-select-option{
		width: 100%;
		display: none;
		position: absolute;
		left: 0;
		z-index: 100;
		padding: 0;
		border: $border-width solid $border-color;
		border-top: none;
		color: $option-text-color;
		.custom-select-list{
			background-color: $option-bg;
			padding: $option-padding;
			&.image-on-option{
	    		@extend %image-option;
			}
			&:hover,&.focused{
				background-color: $primary-color;
				color: $hover-text-color;
			}
		}
	}
	@include mq(md){
		float: left;
		display: inline-block;
		width: $md-width;
	}
	&.focus-select{
		outline: $focus-outline-width solid $focusIn-color;
	}
}
