//Text
$base__font-size: 16px;
$base__line: 24px;

//Font Stacks

$font-url--google : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

// $typefaces
// Configuration of webfonts imports.
// $typefaces - {map}
// @family - {string}
// @weight - {integer} or {keyword} i.e. 800, bold
// @style - {keyword} i.e. normal, italic

//$typefaces: (
//  'FILENAME': (
//    family: 'fontname',
//    weight: 100,
//    style: normal,
//  ),
//);

$font-family-sans-fallback: 'Arial', sans-serif;
$font-family-sans: 'Lato','Helvetica Neue', 'Helvetica', $font-family-sans-fallback;
$font-family-serif: 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-family-monospace: 'Inconsolata', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', 'Courier', monospace;
$font-family--primary : $font-family-sans;
$font-family--secondary : $font-family-sans;

//Path to Assets
$path--rel: "../images";

//Colors
$white: #fff;
$default-color: #d4d4d4;
$primary-color: #933EC5;

//Breakpoints
$sm-device: 768px;
$md-device: 992px;
$lg-device: 1200px;